{% extends 'cpu.html' %}
{% block head %}
    {{ super() }}
    {#<script src="https://code.highcharts.com/highcharts.src.js"></script>#}
    <script src="{{ url_for("static", filename="js/highcharts.src.js") }}"></script>
    <script src="{{ url_for("static", filename="js/exporting.js") }}"></script>
    <script src="{{ url_for("static", filename="js/get-info.js") }}"></script>
{% endblock %}
{% block cpu_info %}
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

    <script type="text/javascript">
        var cpuInfo = getInfoData('cpu', 'pie');
        cpuData = [{
                    name: '用户占用',
                    y: cpuInfo.used_by_user
                }, {
                    name: '系统占用',
                    y: cpuInfo.used_by_system
                }];
        if (cpuInfo.free > 0) {
            cpuData.push({
                        name: '空闲',
                        y: cpuInfo.free,
                        sliced: true,
                        selected: true
                    })
        }
        if (cpuInfo.else_percent > 0) {
            cpuData.push({
                        name: '其他',
                        y: cpuInfo.else_percent
                    })
        }
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'CPU 占用比例'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: '比例',
                colorByPoint: true,
                data: cpuData
            }]
        });
    </script>
{% endblock %}