table tr:nth-child(odd) {
    background: #cccccc;
}

.table-div table tr:first-child {
    background: #c0a16b;
}

#display {
    color: #000000;
}

.page-header a {
    color: #cccccc;
    font-size: 36px;
    cursor: pointer;
    margin: 5px;
}