table tr:nth-child(odd) {
    background: #cccccc;
}

#memory-span,
#swap-span,
#disk-span,
#part-span,
#disk-io-span {
    font-size: 36px;
    cursor: pointer;
    margin: 5px;
}

#swap-span,
#part-span,
#disk-io-span {
    color: #cccccc;;
}