<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disk Info</title>
</head>
<body>
<h2>物理磁盘:</h2>
{% for physical_disk_info in physical_disks_info %}
    设备：{{ physical_disk_info['device'] }}<br>
    挂载点：{{ physical_disk_info['mount_point'] }}<br>
    类型：{{ physical_disk_info['type'] }}<br>
    选项：{{ physical_disk_info['options'] }}<br>
    容量：{{ physical_disk_info['space_total']|format_size }}<br>
    已用：{{ physical_disk_info['space_used']|format_size }} ( {{ physical_disk_info['used_percent'] }} % )<br>
    剩余：{{ physical_disk_info['space_free']|format_size }}<br>
    <br>
{% endfor %}
<h2>分区信息:</h2>
{% for disk_info in disks_info %}
    设备：{{ disk_info['device'] }}<br>
    挂载点：{{ disk_info['mount_point'] }}<br>
    类型：{{ disk_info['type'] }}<br>
    选项：{{ disk_info['options'] }}<br>
    容量：{{ disk_info['space_total']|format_size }}<br>
    已用：{{ disk_info['space_used']|format_size }} ( {{ disk_info['used_percent'] }} % )<br>
    剩余：{{ disk_info['space_free']|format_size }}<br>
    <br>
{% endfor %}
<h2>磁盘 IO :</h2>
{% for disk_info, disk_io_info in disks_io_info.items() %}
    设备：{{ disk_info }}<br>
    IO 读：{{ disk_io_info.read_count }}<br>
    IO 写：{{ disk_io_info.write_count }}<br>
    读字节数：{{ disk_io_info.read_bytes }}<br>
    写字节数：{{ disk_io_info.write_bytes }}<br>
    读时间：{{ disk_io_info.read_time }}<br>
    写时间：{{ disk_io_info.write_time }}<br>
    <br>
{% endfor %}
</body>
</html>