{% extends 'base.html' %}
{% block title %}Disk Info{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="page-header">
        <a {% if part == 'disk' %}id="display"{% endif %} href="{{ url_for('main.disks', part='disk') }}">硬盘信息</a>
        <a {% if part == 'partition' %}id="display"{% endif %}
           href="{{ url_for('main.disks', part='partition') }}">分区信息</a>
        <a {% if part == 'io' %}id="display"{% endif %} href="{{ url_for('main.disks', part='io') }}">IO信息</a>
    </div>
    <div>
        {% block disk_info %}{% endblock %}
    </div>
{% endblock %}