<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Info</title>
</head>
<body>
网络：<br>
{% for interface_io_info in interfaces_io %}
    {% for interface, interface_io in interface_io_info.items() %}
        接口：{{ interface }}<br>
        Mac 地址：{{ interface_io[0] }}<br>
        Ipv4 地址：{{ interface_io[1] }}<br>
        Ipv6 地址：{{ interface_io[2] }}<br>
        发送 Bytes：{{ interface_io[3] }}<br>
        接收 Bytes：{{ interface_io[4] }}<br>
        发送包：{{ interface_io[5] }}<br>
        接收包：{{ interface_io[6] }}<br>
        Error In：{{ interface_io[7] }}<br>
        Error Out：{{ interface_io[8] }}<br>
        Drop In：{{ interface_io[9] }}<br>
        Drop out：{{ interface_io[10] }}<br>
        <br>
    {% endfor %}
{% endfor %}
链接：<br>
{% for net_connection in net_connections %}
    <a href="{{ url_for('main.process', pid=net_connection.pid) }}">
        文件描述符：{{ net_connection.fd }}<br>
        进程 ID：{{ net_connection.pid }}<br>
        地址簇：{{ net_connection.family|socket_family }}<br>
        类型：{{ net_connection.type|socket_type }}<br>
        本地地址：{{ net_connection.laddr|format_addr_port }}<br>
        远程地址：{{ net_connection.raddr|format_addr_port }}<br>
        状态：{{ net_connection.status }}<br>
    </a>
    <br>
{% endfor %}
</body>
</html>