{% extends 'base.html' %}
{% block title %}Process Info{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>进程信息</h1>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <td>进程</td>
                <td>{{ process_info.get('name', None) }}</td>
            </tr>
            <tr>
                <td>进程号</td>
                <td>{{ process_info.get('pid', None) }}</td>
            </tr>
            <tr>
                <td>父进程</td>
                <td>{{ process_info.get('parent', None) }}</td>
            </tr>
            <tr>
                <td>父进程号</td>
                <td>{{ process_info.get('ppid', None) }}</td>
            </tr>
            <tr>
                <td>路径</td>
                <td>{{ ' '.join(process_info.get('cmdline', None)) }}</td>
            </tr>
            <tr>
                <td>用户</td>
                <td>{{ process_info.get('username', None) }}</td>
            </tr>
            <tr>
                <td>用户 ID</td>
                <td>{{ process_info.get('uids', None) }}</td>
            </tr>
            <tr>
                <td>组 ID</td>
                <td>{{ process_info.get('gids', None) }}</td>
            </tr>
            <tr>
                <td>创建时间</td>
                <td>{{ process_info.get('create_time', None)|format_time }}</td>
            </tr>
            <tr>
                <td>内存</td>
                <td>{{ process_info.get('memory_percent', None) }}</td>
            </tr>
            <tr>
                <td>内存</td>
                <td>{{ process_info.get('memory_info', None) }}</td>
            </tr>
            <tr>
                <td>终端</td>
                <td>{{ process_info.get('terminal', None) }}</td>
            </tr>
            <tr>
                <td>状态</td>
                <td>{{ process_info.get('status', None) }}</td>
            </tr>
            <tr>
                <td>Nice 值</td>
                <td>{{ process_info.get('nice', None) }}</td>
            </tr>
            <tr>
                <td>目录</td>
                <td>{{ process_info.get('cwd', None) }}</td>
            </tr>
            <tr>
                <td>I/O</td>
                <td>{{ process_info.get('io_counters', None) }}</td>
            </tr>
            <tr>
                <td>I/O Nice 值</td>
                <td>{{ process_info.get('ionice', None) }}</td>
            </tr>
            <tr>
                <td>文件描述符</td>
                <td>{{ process_info.get('num_fds', None) }}</td>
            </tr>
            <tr>
                <td>上下文切换</td>
                <td>{{ process_info.get('num_ctx_switches', None) }}</td>
            </tr>
            <tr>
                <td>CPU</td>
                <td>{{ process_info.get('cpu_percent', None) }}</td>
            </tr>
            <tr>
                <td>CPU 时间</td>
                <td>{{ process_info.get('cpu_times', None) }}</td>
            </tr>
            <tr>
                <td>CPU 亲和性</td>
                <td>{{ ' '.join(process_info.get('cpu_affinity', None)) }}</td>
            </tr>
        </table>
    </div>
    {% if process_info.get('memory_maps', None) %}
        <div class="page-header">
            <h1>内存信息</h1>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td>路径</td>
                    <td>RSS</td>
                    <td>SIZE</td>
                    <td>PSS</td>
                    <td>Shared Dirty</td>
                    <td>Shared Clean</td>
                    <td>Private Dirty</td>
                    <td>Private Clean</td>
                    <td>Referenced</td>
                    <td>Anonymous</td>
                    <td>Swap</td>
                </tr>
                {% for memory_map in process_info.get('memory_maps', None) %}
                    <tr>
                        <td>{{ memory_map.path }}</td>
                        <td>{{ memory_map.rss }}</td>
                        <td>{{ memory_map.size }}</td>
                        <td>{{ memory_map.pss }}</td>
                        <td>{{ memory_map.shared_dirty }}</td>
                        <td>{{ memory_map.shared_clean }}</td>
                        <td>{{ memory_map.private_dirty }}</td>
                        <td>{{ memory_map.private_clean }}</td>
                        <td>{{ memory_map.referenced }}</td>
                        <td>{{ memory_map.anonymous }}</td>
                        <td>{{ memory_map.swap }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if process_info.get('threads', None) %}
        <div class="page-header">
            <h1>线程信息</h1>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td>ID</td>
                    <td>用户时间</td>
                    <td>系统时间</td>
                </tr>
                {% for thread in process_info.get('threads', None) %}
                    <tr>
                        <td>{% if thread.id %}
                            <a href="{{ url_for('main.process', pid=thread.id) }}">
                                {{ thread.id }}
                            </a>
                        {% endif %}
                        </td>
                        <td>{{ thread.user_time }}</td>
                        <td>{{ thread.system_time }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if process_info.get('open_files', None) %}
        <div class="page-header">
            <h1>打开文件</h1>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td>路径</td>
                    <td>文件描述符</td>
                    <td>模式</td>
                </tr>
                {% for file in process_info.get('open_files', None) %}
                    <tr>
                        <td>{{ file.path }}</td>
                        <td>{{ file.fd }}</td>
                        <td>{{ file.mode }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if process_info.get('connections', None) %}
        <div class="page-header">
            <h1>进程链接</h1>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td>文件描述符</td>
                    <td>地址簇</td>
                    <td>类型</td>
                    <td>本地地址</td>
                    <td>远程地址</td>
                    <td>状态</td>
                </tr>
                {% for connection in process_info.get('connections', None) %}
                    <tr>
                        <td>{{ connection.fd }}</td>
                        <td>{{ connection.family|socket_family }}</td>
                        <td>{{ connection.type|socket_type }}</td>
                        <td>{{ connection.laddr|format_addr_port }}</td>
                        <td>{{ connection.raddr|format_addr_port }}</td>
                        <td>{{ connection.status }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if process_info.get('environ', None) %}
        <div class="page-header">
            <h1>进程环境</h1>
        </div>
        <div>
            <table class="table table-bordered">
                {% for key, value in process_info.get('environ', None).items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if process_info.get('children', None) %}
        <div class="page-header">
            <h1>子进程</h1>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td>进程号</td>
                    <td>进程</td>
                    <td>用户</td>
                    <td>状态</td>
                </tr>
                {% for child in process_info.get('children', None) %}
                    <tr>
                        <td>
                            {% if child.get('pid', None) %}
                                <a href="{{ url_for('main.process', pid=child.get('pid')) }}">
                                    {{ child.get('pid') }}
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ child.get('name', '') }}</td>
                        <td>{{ child.get('username', '') }}</td>
                        <td>{{ child.get('status', '') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if process_info.get('limits', None) %}
        <div class="page-header">
            <h1>资源限制</h1>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td>资源</td>
                    <td>软限制</td>
                    <td>硬限制</td>
                </tr>
                {% for resource, limits in process_info.get('limits', None).items() %}
                    <tr>
                        <td>{{ resource }}</td>
                        <td>{{ limits[0] }}</td>
                        <td>{{ limits[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}