{% extends 'disks.html' %}
{% block disk_info %}
    <div class="table-div" id="disk">
        <table class="table table-bordered">
            <tr>
                <td>设备</td>
                <td>挂载点</td>
                <td>容量</td>
                <td>已用</td>
                <td>剩余</td>
                <td>类型</td>
                <td>选项</td>
            </tr>
            {% for physical_disk_info in context %}
                <tr>
                    <td>{{ physical_disk_info['device'] }}</td>
                    <td>{{ physical_disk_info['mount_point'] }}</td>
                    <td>{{ physical_disk_info['space_total']|format_size }}</td>
                    <td>
                        {{ physical_disk_info['space_used']|format_size }}
                        ( {{ physical_disk_info['used_percent'] }} %)
                    </td>
                    <td>{{ physical_disk_info['space_free']|format_size }}</td>
                    <td>{{ physical_disk_info['type'] }}</td>
                    <td>{{ physical_disk_info['options'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}